@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap');



@layer base {
    .section-title {
        @apply font-bold text-xl sm:text-2xl md:text-4xl;
    }

    .section-text {
        @apply text-base text-text-inactive;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.2s ease;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
}


.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.linear-grad {
    background: linear-gradient(270deg, rgba(71, 191, 111, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

.about-bg {
    background: linear-gradient(180deg, rgba(71, 191, 111, 0.1) 0%, rgba(71, 191, 111, 0) 132.7%);
}

input:focus ~ label, textarea:focus ~ label,
input:not(:placeholder-shown) ~ label, textarea:not(:placeholder-shown) ~ label {
    @apply scale-75 -translate-y-6 -translate-x-2;
}

input:focus ~ label, textarea:focus ~ label {
    @apply text-black left-0;
}

.before-none::before {
    display: none !important;
}

.slick-slide div {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* button */
::-webkit-scrollbar-button {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #47BF6F;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #31A357;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}


/* media for xl */
@media (min-width: 1280px) {
    html {
        font-size: 15px;
    }
}

/* media for lg */
@media (min-width: 1024px) and (max-width: 1279px) {
    html {
        font-size: 13px;
    }
}

/* media for md */
@media (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 12px;
    }
}

/* media for sm */
@media (max-width: 640px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.player-wrapper {
    width: auto;
}

.react-player {
    padding-top: 56.25%;
}

.react-player > div {
    position: absolute;
}